.card-grid-slider {
  display: flex;
  padding: 10px 0;
  overflow-x: auto;
  align-items: center;
  scroll-snap-type: x mandatory;
  max-width: 1600px;
}

@media (max-width: 992px) {

  .recentPlay .upgrade,
  .recentPlay .download {
    display: none;
    transition: var(--transition-3s-ease);
  }
}