/* CSS cho side-bar */
/* Khi không có lớp 'active' */
.side-bar {
  background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
  background: linear-gradient(to left, #eef2f3, #8e9eab);
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  padding: 6px 14px;
  transition: all .4s ease;
  border-radius: 0 10px 10px 0;
  border-right: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  z-index: 2;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);
}

/* Khi có lớp 'active' */
.side-bar.active {
  width: 250px;
}

/* Phần section-two */
.side-bar .section-two {
  margin-top: 10px;
}

/* Menu logo */
.side-bar .logo-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  white-space: nowrap;
}


/* Logo khi có lớp 'active' */
.side-bar.active .logo-menu .logo {
  opacity: 1;
}

.side-bar .logo-menu .toggle-btn-1:hover,
.side-bar .logo-menu .toggle-btn-2:hover {
  background: #F0F2F5;
  border-radius: 5px;
}

.side-bar .logo-menu .toggle-btn-2 {
  left: 85%;
  opacity: 0;
}

.side-bar.active .logo-menu .toggle-btn-1 {
  left: 85%;
  opacity: 0;
}

.side-bar.active .logo-menu .toggle-btn-2 {
  left: 80%;
  opacity: 1;
}

/* Danh sách */
.side-bar .list {
  margin-top: 10px;
}

/* Mục trong danh sách */
.list .list-item {
  list-style: none;
  width: 100%;
  height: 50px;
  margin: 5px 0;
  line-height: 50px;
}

/* Liên kết trong mục */
.list .list-item a {
  display: flex;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

/* Liên kết được chọn hoặc khi rê chuột qua */
.list .list-item.active a,
.list .list-item a:hover {
  background: rgba(255, 255, 255, .1);
}

/* Biểu tượng trong liên kết */
.list .list-item a i {
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #103178;
}

/* Tên liên kết */
.side-bar .link-name {
  color: #141523;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

/* Tên liên kết khi có lớp 'active' */
.side-bar.active .link-name {
  opacity: 1;
  pointer-events: auto;
  transition-delay: calc(.1s * var(--i));
}